*
{
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
.clear
{
    CLEAR: both
}
.clearleft
{
    DISPLAY: block;
    CLEAR: left
}
.clearright
{
    DISPLAY: block;
    CLEAR: right
}
.hide
{
    DISPLAY: none
}
A
{
    COLOR: #b32c0e
}
A:hover
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
BODY
{
    BACKGROUND: url(images/bg.jpg) #ffffff repeat-x
}
#wrap
{
    MARGIN: 0px auto 15px;
    WIDTH: 699px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    COLOR: #666666;
    FONT-SIZE: 12px
}
#header
{
    BORDER-BOTTOM: firebrick thin;
    BORDER-LEFT: firebrick thin;
    BACKGROUND: url(images/header.jpg) no-repeat left top;
    HEIGHT: 242px;
    CLEAR: both;
    BORDER-TOP: firebrick thin;
    BORDER-RIGHT: firebrick thin
}
#topmenu
{
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    PADDING-LEFT: 0px;
    WIDTH: 450px;
    PADDING-RIGHT: 0px;
    DISPLAY: block;
    FLOAT: right;
    PADDING-TOP: 0px
}
#topmenu LI
{
    DISPLAY: inline
}
#topmenu A
{
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-LEFT: 15px;
    PADDING-RIGHT: 15px;
    DISPLAY: block;
    FLOAT: left;
    HEIGHT: 28px;
    TEXT-DECORATION: none;
    PADDING-TOP: 9px
}
#topmenu A
{
    COLOR: #ffffff
}
#topmenu A:visited
{
    COLOR: #ffffff
}
#topmenu A:active
{
    COLOR: #ffffff
}
#topmenu A:hover
{
    BACKGROUND-COLOR: #b52e10;
    COLOR: #ffffff
}
#topmenu .active A
{
    BACKGROUND-COLOR: #b42d0f;
    COLOR: #ffffff
}
#topmenu .active A:visited
{
    BACKGROUND-COLOR: #b42d0f;
    COLOR: #ffffff
}
#topmenu .active A:active
{
    BACKGROUND-COLOR: #b42d0f;
    COLOR: #ffffff
}
#content
{
    BACKGROUND-COLOR: #ffffff
}
#mainpage
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    WIDTH: 500px;
    PADDING-RIGHT: 5px;
    FLOAT: left;
    HEIGHT: 550px;
    PADDING-TOP: 5px
}
#mainpage P
{
    MARGIN: 20px 0px 22px;
    FONT: 90% , arial, sans-serif;
    COLOR: #000000
}
TABLE
{
    MARGIN: 20px 0px 22px;
    FONT: 90% , arial, sans-serif;
    COLOR: #000000
}
#mainpage BLOCKQUOTE
{
    FONT-STYLE: italic;
    MARGIN: 5px;
    DISPLAY: block;
    BACKGROUND: #efefef
}
H1
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    COLOR: #b32c0e;
    FONT-WEIGHT: bold
}
H2
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    COLOR: #b32c0e;
    FONT-WEIGHT: bold
}
H3
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    COLOR: #b32c0e;
    FONT-WEIGHT: bold
}
H4
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    COLOR: #b32c0e;
    FONT-WEIGHT: bold
}
H5
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    COLOR: #b32c0e;
    FONT-WEIGHT: bold
}
#mainpage H1
{
    COLOR: #f2f7f3;
    FONT-SIZE: 24px
}
#mainpage H2
{
    BORDER-BOTTOM: #b52e10 1px solid;
    PADDING-BOTTOM: 5px;
    FONT-SIZE: 18px;
    PADDING-TOP: 20px
}
#mainpage H3
{
    FONT-SIZE: 20px
}
#mainpage H4
{
    FONT-SIZE: 18px
}
#mainpage H5
{
    FONT-SIZE: 16px
}
.style_2
{
    COLOR: #000011;
    FONT-SIZE: 7px
}
.style_2 A
{
    COLOR: #000011;
    FONT-SIZE: 7px
}
.style_2 A:hover
{
    COLOR: #000011;
    FONT-SIZE: 7px
}
#content #mainpage OL
{
    MARGIN: 10px 10px 10px 25px
}
#content #mainpage OL LI
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 20px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 5px
}
#content #mainpage UL LI
{
    BORDER-BOTTOM: #d6e4a7 1px dashed;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    DISPLAY: block;
    PADDING-TOP: 0px
}
#sidebar
{
    MARGIN: 0px;
    WIDTH: 225px;
    FLOAT: right
}
#sidebarcontents
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 5px
}
#menu
{
    LIST-STYLE-TYPE: none
}
#menu LI UL LI
{
    DISPLAY: block;
    HEIGHT: 25px
}
#menu LI UL A
{
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    DISPLAY: block;
    HEIGHT: 24px;
    COLOR: #333333;
    TEXT-DECORATION: none;
    PADDING-TOP: 5px
}
#menu LI UL A:visited
{
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    DISPLAY: block;
    HEIGHT: 24px;
    COLOR: #333333;
    TEXT-DECORATION: none;
    PADDING-TOP: 5px
}
#menu LI UL A:active
{
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    DISPLAY: block;
    HEIGHT: 24px;
    COLOR: #333333;
    TEXT-DECORATION: none;
    PADDING-TOP: 5px
}
#menu LI UL A:hover
{
    COLOR: #b32c0e
}
#menu H2
{
    BORDER-BOTTOM: #d2e6ca 1px solid;
    PADDING-BOTTOM: 5px;
    MARGIN: 10px 0px 0px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    DISPLAY: block;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    COLOR: #b32c0e;
    FONT-SIZE: 18px;
    FONT-WEIGHT: bold;
    PADDING-TOP: 5px
}
#footer
{
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 10px;
    MARGIN: 0px auto;
    PADDING-LEFT: 10px;
    WIDTH: 685px;
    PADDING-RIGHT: 10px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND: #333333;
    HEIGHT: 75px;
    COLOR: #ffffff;
    CLEAR: both;
    FONT-SIZE: 11px;
    PADDING-TOP: 10px
}
#credit
{
    PADDING-BOTTOM: 3px;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 3px;
    FONT-SIZE: 10px;
    PADDING-TOP: 3px
}
#sitename A
{
    COLOR: #ffffff;
    TEXT-DECORATION: none;
    PADDING-TOP: 20px
}
#topbar
{
    HEIGHT: 78px
}
#caption
{
    BACKGROUND: url(images/caption.gif) repeat-x left top;
    HEIGHT: 50px
}
.bold
{
    PADDING-LEFT: 100px;
    COLOR: #ffffff;
    FONT-SIZE: 16px;
    PADDING-TOP: 25px
}
